@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9181F4;
    color: white;
    text-align: center;
  }
  
  .reset-password-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .reset-password-container input {
    width: 300px;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
  }
  
  .reset-password-container input::placeholder {
    color: #ccc;
  }
  
  .reset-password-container button {
    padding: 12px 24px;
    background-color: #5e50c4;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-container button:hover {
    background-color: #4a3e9e;
  }
  
  .reset-password-container .message {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .reset-password-container::before {
    content: "SOLVE CRM"; /* Adiciona o título "SOLVE" */
    font-family: 'Josefin Sans', sans-serif;
    color: #4a3e9e;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .reset-password-container::after {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
  }
  
  .reset-password-container fieldset {
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    margin-top: 20px;
  }