{% load i18n %}

{% block subject %}
{% blocktrans %}Solve CRM: Ativação de conta{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Você está recebendo este email porque você precisa terminar o processo de ativação de conta em Solve CRM.{% endblocktrans %}

{% trans "Por gentileza, acesse o link abaixo para ativar sua conta" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Obrigado por escolher Solve CRM!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Você está recebendo este email porque você precisa terminar o processo em Solve CRM.{% endblocktrans %}</p>

<p>Por gentileza, acesse no link abaixo para ativar sua conta:</p>
<p><a href="http://127.0.0.1:8000/activation/?url={{ url|safe }}">Ativar conta</a></p>

<p>{% trans "Obrigado por escolher Solve CRM!" %}</p>

<p>{% blocktrans %} Time Solve CRM {% endblocktrans %}</p>

{% endblock html_body %}