{% load i18n %}

{% block subject %}
{% blocktrans %}Solicitação de alteração de senha em Solve CRM{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Você está recebendo esse e-mail devido a uma Solicitação de alteração de senha em Solve CRM.{% endblocktrans %}

{% trans "Por gentileza, acesse o link abaixo para fazer o procedimento:" %}
{{ protocol }}://{{ domain }}/{{ url }}
{% trans "Seu nome de usuário, caso tenha esquecido:" %} {{ user.get_username }}

{% trans "Obrigado por escolher Solve CRM!" %}

{% blocktrans %}time Solve CRM{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Você está recebendo esse e-mail devido a uma Solicitação de alteração de senha em Solve CRM.{% endblocktrans %}</p>

<p>{% trans "Por gentileza, acesse o link abaixo para fazer o procedimento:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
<p>{% trans "Seu nome de usuário, caso tenha esquecido:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Obrigado por escolher Solve CRM!" %}</p>

<p>{% blocktrans %}Time Solve CRM{% endblocktrans %}</p>
{% endblock html_body %}